@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

$error-color: #d9230f;
$primary-color: #5e72e4;
$background-color: #172b4d;
$hover-color: rgba($primary-color, 0.8);
$border-radius-tabs: 0.5rem;
$color-tab-text: #ffffff;

.ag-theme-alpine {
    /* use theme parameters where possible */
    --ag-foreground-color: #000;
    --ag-background-color: #f6f9fc;
    --ag-odd-row-background-color: #e9ecef;
}

.ag-theme-alpine .ag-header-cell-label {
    font-style: italic;
}

.main-container {
    margin-top: 80px;
    margin-left: 250px;
    min-height: 500px;
}

.nav-link-text {
    font-weight: 700;
    color: $primary-color;
}

/***********       ALERTIFY JS      ***********/
.ajs-button.ajs-ok {
    color: #ffffff;
    background-color: $error-color;
    border: 1px solid #a91b0c;
}
.ajs-message {
    color: #ffffff;
}
/**********      END ALERTIFY JS      *********/

/**********      FORM GROUP      *********/
.form-group.error {
    color: $error-color;
}

.form-group.error .form-control {
    color: $error-color;
    border: 1px solid $error-color;
}

.form-group .validation-error {
    color: $error-color;
    font-style: italic;
    margin-top: 5px;
}
/**********      END FORM GROUP      *********/

/**********      CHILDREN GROUPS TABS      *********/
.group-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .group-selection-btn {
        width: 200px;
        height: 50px;
        color: $color-tab-text;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        line-height: 50px;
        background-color: $background-color;
        border: 1px solid #000000;
        border-radius: $border-radius-tabs;
        cursor: pointer;

        &:hover {
            background: $hover-color;
        }
        &:focus {
            background: $error-color;
        }
    }

    .active {
        background: $error-color;
    }
}

/**********      END CHILDREN GROUPS TABS      *********/

/**********      SCHEDULE      *********/

.schedule {
    .schedule-options {
        display: flex; 
        justify-content:space-between;

        .schedule-btn {
            margin-right: 0px;
            margin-bottom: 10px;
            height: 50px;
            width: 150px;
        }

        .schedule-btn.disabled {
            cursor: default;
        }

        .schedule-mode-btn {
            margin-bottom: 10px;
            margin-left: 10px;
            height: 50px;
            width: 100px;
        }

        .label-mode {
            margin-right: 10px; 
            color:#000000; 
            font-weight: 700;
        }

        .schedule-mode-btn.active {
            background-color: $error-color;
        }
    }

    .schedule-row {
        display: flex;
    }
    
    .schedule-header {
        font-weight: 700;
        background-color: $primary-color;
        text-align: center;
    }

    .schedule-cell {
        color: #000000;
        font-weight: 700;
        border: 1px solid $primary-color;
        height: 25px;
    }

    .schedule-cell-time {
        width: 100px;
        text-align: center;
    }

    .schedule-cell-activity {
        flex-grow: 1;
    }
}


/**********      END SCHEDULE      *********/
