@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

$error-color: #d9230f;

.ag-theme-alpine {
    /* use theme parameters where possible */
    --ag-foreground-color: #000;
    --ag-background-color: #f6f9fc;
    --ag-odd-row-background-color:#e9ecef;
}
   
.ag-theme-alpine .ag-header-cell-label {
    font-style: italic;
}

.main-container {
    margin-top: 80px;
    margin-left: 250px;
    min-height: 500px;
}

/***********       ALERTIFY JS      ***********/
.ajs-button.ajs-ok {
    color: #ffffff;
    background-color: $error-color;
    border: 1px solid #a91b0c;
}
.ajs-message {
    color: #ffffff;
}
  /**********      END ALERTIFY JS      *********/

  
.form-group.error {
	color: $error-color;
}

.form-group.error .form-control {
	color: $error-color;
    border: 1px solid $error-color;
}

.form-group .validation-error {
    color: $error-color;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
}