
<div class="card bg-default">
  <!-- Card header -->
  <div class="card-header bg-default border-0">
      <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0 text-white">Activities</h3>
          </div>
          <div class="col text-right">
            <a (click)="addActivity()"class="btn btn-sm btn-primary active"><i class="fas fa-user-plus"></i> Add Activity</a>
          </div>
        </div>
  </div>
  <div class="row">
      <ag-grid-angular 
        style="width: 100%; margin:5px 20px;" 
        class="ag-theme-alpine" 
        [gridOptions]="gridOptions"
        [rowData]="lstActivities">
      </ag-grid-angular>
  </div>
</div>
