<form [formGroup]="form">
  <div class="row">
    <div class="col-xl-8">
      <div class="card bg-default">
        <div class="card-header bg-default border-0">
          <h3 class="mb-0 text-white">{{title}}</h3>
        </div>
        <div class="card-body bg-secondary">
            <div class="form-group" [ngClass]="{error: form.get('activityName')?.invalid && form.get('activityName')?.touched}">
              <label for="activityName">Name</label>
              <input type="text" class="form-control" formControlName="activityName" id="activityName" placeholder="Name">
              <div class="validation-error" *ngIf="form.get('activityName')?.invalid && form.get('activityName')?.touched && form.get('activityName')?.errors?.required">Name is mandatory</div>
            </div>
            <div class="form-group" [ngClass]="{error: form.get('location')?.invalid && form.get('location')?.touched}">
              <label class="custom-toggle" style="width: 100px;">Location</label>
              <div class="custom-control custom-radio">
                <input type="radio" id="inKindergarten" formControlName="location" value ="1" class="custom-control-input">
                <label class="custom-control-label" for="inKindergarten">in kindergarten</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="outsideKindergarten" formControlName="location" value ="0" class="custom-control-input">
                <label class="custom-control-label" for="outsideKindergarten">outside kindergarten</label>
              </div>
              <div class="validation-error" *ngIf="form.get('location')?.invalid && form.get('location')?.touched">The location is mandatory!</div>
            </div>
            <div class="form-group" style="width: 200px;" [ngClass]="{error: form.get('activityColor')?.invalid && form.get('activityColor')?.touched}">
              <label for="activityColor">Color</label>
              <select class="form-control" style="height:45px;" formControlName="activityColor" id="activityColor" placeholder>
                <option value="">Select color</option>
                <option *ngFor="let color of lstColor" [value]="color.value">{{color.label}}</option>
              </select>
              <div class="validation-error" *ngIf="form.get('activityColor')?.invalid && form.get('activityColor')?.touched && form.get('activityColor')?.errors?.required">Color is mandatory</div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success" (click)="saveChanges()" [disabled]="form.invalid">{{buttonText}}</button>
              <button class="btn btn-secondary" (click)="back()">Back</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>
