<footer class="footer pt-0 position-sticky">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                    <a href="" class="nav-link" target="_blank">KINDERGARTEN MANAGEMENT</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" target="_blank">Created by Laura Munteanu</a>
                </li>
            </ul>
        </div>
    </div>
</footer>