<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center bg-primary">
            <h1 style="color: #f6f9fc">Kindergarden Management</h1>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/teachers/admin" routerLinkActive="active">
                            <i class="ni ni-hat-3 text-primary"></i>
                            <span class="nav-link-text">Teachers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/children/admin" routerLinkActive="active">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Children</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/calendar" routerLinkActive="active">
                            <i class="ni ni-calendar-grid-58 text-default"></i>
                            <span class="nav-link-text">Calendar</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>
