<form [formGroup]="form">
  <div class="row">
    <div class="col-xl-8">
      <div class="card bg-default">
        <div class="card-header bg-default border-0">
          <h3 class="mb-0 text-white">{{title}}</h3>
        </div>
        <div class="card-body bg-secondary">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label class="custom-toggle">Status</label>
            <div class="custom-control custom-radio">
              <input type="radio" id="activeStatus" formControlName="status" value ="1" class="custom-control-input">
              <label class="custom-control-label" for="activeStatus">active</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="inactiveStatus" formControlName="status" value ="0" class="custom-control-input">
              <label class="custom-control-label" for="inactiveStatus">inactive</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card bg-default">
        <div class="card-header bg-default border-0">
          <h3 class="mb-0 text-white">Photo</h3>
        </div>
        <div class="card-body bg-secondary text-center">
          <img src="assets/images/ProfilePicture.jpg" alt="photo" style="width: 225px; height: 225px;" />
          <div class="card-footer bg-secondary">
            <button class="btn btn-primary">Upload photo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-body bg-secondary">
      <div class="form-group">
        <button type="submit" class="btn btn-success" (click)="saveChanges()">{{buttonText}}</button>
        <button class="btn btn-secondary" (click)="back()">Back</button>
      </div>
    </div>
  </div>
</form>