<div>
    teachers component

</div>
<div class="row">
    <div class="col-xl-8">
        <div class="card bg-default">
            <div class="card-header bg-transparent">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                        <ag-grid-angular 
                            style="height:600px; width: 700px;" 
                            class="ag-theme-alpine"
                            [rowData]="rowData" 
                            [columnDefs]="columnDefs">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>