<form [formGroup]="form">
  <div class="row">
    <div class="col-xl-8">
      <div class="card bg-default">
        <div class="card-header bg-default border-0">
          <h3 class="mb-0 text-white">{{title}}</h3>
        </div>
        <div class="card-body bg-secondary">
          <div class="form-group" [ngClass]="{error: form.get('firstName')?.invalid && form.get('firstName')?.touched}">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="First Name">
            <div class="validation-error" *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched && form.get('firstName')?.errors?.required">First name is mandatory</div>
          </div>
          <div class="form-group" [ngClass]="{error: form.get('lastName')?.invalid && form.get('lastName')?.touched}">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Last Name">
            <div class="validation-error" *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched && form.get('lastName')?.errors?.required">Last name is mandatory</div>
          </div>
          <div class="form-group" [ngClass]="{error: form.get('age')?.invalid && form.get('age')?.touched}">
            <label for="ageChild">Age</label>
            <select class="form-control" formControlName="age" id="ageChild" placeholder>
              <option value="">Select Child's age</option>
              <option *ngFor="let age of lstAge" [value]="age.value">{{age.label}}</option>
            </select>
            <div class="validation-error" *ngIf="form.get('age')?.invalid && form.get('age')?.touched && form.get('age')?.errors?.required">Age is mandatory</div>
          </div>
          <div class="form-group" [ngClass]="{error: form.get('groupId')?.invalid && form.get('groupId')?.touched}">
            <label for="groupId">Group</label>
            <select class="form-control" formControlName="groupId" id="groupId">
              <option value="">Select a group</option>
              <option *ngFor="let group of childrenGroups" [value]="group.id">{{group.groupName}}</option>
            </select>
            <div class="validation-error" *ngIf="form.get('groupId')?.invalid && form.get('groupId')?.touched && form.get('groupId')?.errors?.required">Group is mandatory</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card bg-default">
        <div class="card-header bg-default border-0">
          <h3 class="mb-0 text-white">Photo</h3>
        </div>
        <div class="card-body bg-secondary text-center" >
          <img src="assets/images/ProfilePicture.jpg" alt="photo" style="width: 225px; height: 225px;" />
          <div class="card-footer bg-secondary">
            <button class="btn btn-primary">Upload photo</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card-body bg-secondary">
      <div class="form-group">
        <button type="submit" class="btn btn-success" (click)="saveChanges()" [disabled]="form.invalid">{{buttonText}}</button>
        <button class="btn btn-secondary" (click)="back()">Back</button>
      </div>
    </div>
  </div>
</form>
