<div>
  <button class="btn btn-default" style="float: right;">Weekly Schedule</button>
  <button class="btn btn-default" style="float: right;">Daily Schedule</button>
</div>
<br />
<div class="schedule">
  <div class="schedule-row" *ngFor="let time of intervalsOfTime">
    <div class="schedule-cell schedule-cell-time">{{time}}</div>
    <div class="schedule-cell schedule-cell-activity"></div>
    <!-- <div class="schedule-cell schedule-cell-activity"></div>
    <div class="schedule-cell schedule-cell-activity"></div>
    <div class="schedule-cell schedule-cell-activity"></div>
    <div class="schedule-cell schedule-cell-activity"></div> -->
  </div>
</div>